<a href="https://colab.research.google.com/github/Codewith-Soumya/Hotel-Booking-Analysis/blob/main/Python_programming_almabetter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

In [ ]:
3+4 #Addition

7

In [ ]:
6-90 #Substraction

-84

In [ ]:
7*9 #Multiplication

63

In [ ]:
6/8

0.75

In [ ]:
london_points=(6*3)+(1*1)+(2*0)
print(london_points)

19

In [ ]:
# in python we can store the value in any variable
x=8
print(x)

8

In [ ]:
y=9
print(y)

9

In [ ]:
z=x+y
print(z)

17

In [ ]:
z=x-y
print(z)

-1

In [ ]:
z=x*y
print(z)

72

In [ ]:
type(z)

int

In [ ]:
z=x/y
print(z)

0.8888888888888888

In [ ]:
type(z)

float

In [ ]:
wins=3
loss=2
draw=1

total_wins=6
total_loss=0
total_draw=1

london_points=(total_wins*wins)+(total_loss*loss)+(total_draw*draw)
print(london_points)

19

In [ ]:
raisins=50
almonds=60
apricots=20

R=(raisins/(raisins+almonds+apricots))*100
print(R)
A=(almonds/(almonds+raisins+apricots))*100
print(A)
Ap=(apricots/(apricots+almonds+raisins))*100
print(Ap)

38.46153846153847
46.15384615384615
15.384615384615385

In [ ]:
boolean=True
type(boolean)

bool

In [ ]:
2==3

False

In [ ]:
2==0

False

In [ ]:
6<=7

True

In [ ]:
8>=6

True

In [ ]:
a=2
b=a**2
print(b)

4

In [ ]:
height=int(input("Enter the height:"))
weight=int(input("Enter the height:"))
bmi=weight/(height**2)
print(bmi)

Enter the height:6
Enter the height:65
1.8055555555555556

In [ ]:
x = int(input("Enter the value of x:"))
y = int(input("Enter the value of y:"))
z=(x+y)*(x+y)
print(z)

Enter the value of x:67
Enter the value of y:89
24336

In [ ]:
from joblib import Memory # create a Memory object to cache function calls mem = Memory(location='cache') # define a function to calculate the mean of a list of numbers @mem.cache def calc_mean(numbers): print("Calculating mean...") total = sum(numbers) return total / len(numbers) # define a list of numbers to use for testing my_list = [1, 2, 3, 4, 5] # call the function the first time, which will calculate the mean and cache the result result1 = calc_mean(my_list) # call the function again with the same argument, which will retrieve the cached result instead of recalculating it result2 = calc_mean(my_list) # print the results print(result1) # should be 3.0 print(result2) # should also be 3.0, and the "Calculating mean..." message should not be printed

In [ ]:
s='Avengers end game'
for i in s:
  if i=={'a','e','i','o','u'}:
   print("vowel")
  else:
   print("consonant")

consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant
consonant

Data types in Python
Let us consider the quadratic function of Algebra.
f(x)=x^2+3x-4
Take the value x=2, x=-1, x=1.

In [ ]:
x=2
quadratic_function=(x**2)+(3*x)-4
print(quadratic_function)

6

In [ ]:
x=-1
quadratic_function_minus1=(x**2)+(3*x)-4
print(quadratic_function_minus1)

-6

In [ ]:
x=1
quadratic_function_1=(x**2)+(3*x)-4
print(quadratic_function_1)

0

In [ ]:
quadratic_function_1>=quadratic_function_minus1

True

In [ ]:
print(quadratic_function==0)
print(quadratic_function_minus1==0)
print(quadratic_function_1==0)

False
False
True

Creating a string

In [ ]:
# Creating a string
my_first_string="Hello world!"
print(my_first_string)

Hello world!

In [ ]:
# Entire phrase
Phrase="I am a good boy"
print(Phrase)

I am a good boy

In [ ]:
type(Phrase)

str

In [ ]:
# we can also use single quote
String=("Sammy is a good rider")
print(String)

Sammy is a good rider

Some basic string operation: Len(length)

In [ ]:
datascience=("Almabetter") #the len function provides the length of the string and the length starts the count from 1
len(datascience)

10

Count

In [ ]:
datascience=("Almabetter") #this provides the count of the string within a given string
datascience.count("Al")

1

In [ ]:
books=("Bookshelves")
books.count("e")

2

In [ ]:
Python=("Highlights of Python, Advanced Python, Python for begineers, Introduction to Python, Python Mains")
a_count=Python.count("a") #there is a wrong description for this result as there are more than 2 'a's in the string

2

In [ ]:
#the correct code is provided here.
a_count=Python.lower().count("a")
print(f"the total number of a in the string is{a_count}")

the total number of a in the string is3

Activty 1 (Converting string to integer)

In [ ]:
num_str="25"
num_int=int(num_str)
print(num_int)

25

In [ ]:
string="Python123"
result=string[-3:]
print(result)

123

Lists

In [ ]:
#Assigning a list to the variable
my_list=[1,2,3,4]
print(my_list)

[1, 2, 3, 4]

In [ ]:
type(my_list)

list

We can create list with different datatypes

In [ ]:
my_list=['python is an advanced language',23,45.90,False]
print(my_list)

['python is an advanced language', 23, 45.9, False]

Mutability of lists:
Lists are mutable, that is, we can change the list in the program.

In [ ]:
#list mutation
my_list=[1,2,3,4,5]
#modifying the list
my_list[0]=10
print(my_list)

[10, 2, 3, 4, 5]

Some basic list function:

len(), this returns the length of the string.

In [ ]:
my_list=[3,5,7,6,8,9,3,2,5,6,7,89,789,567889977]
len(my_list)

14

sum(), this returns the sum of the elements of the list

In [ ]:
my_list=[8,5,6,7,3,2,1,4,5,6]
sum(my_list)

47

So we have marks of the students.
56,78,90,100,34,67,23,67,89,90,95.
Calculate the mean of the marks

In [ ]:
student_marks=[56,78,90,100,34,67,23,67,89,90,95]
sum(student_marks)
len(student_marks)
mean_marks=sum(student_marks)/len(student_marks)
print(mean_marks)

71.72727272727273

Tuples

In Python, tuples are similar to lists in many ways, but they have some important differences that make them useful in certain situations. One of the key differences is that tuples are immutable, which means that you can't modify them after they've been created. 🔒

This might seem like a limitation, but it can actually be quite useful in certain scenarios. For example, if you have a set of data that you know won't change, you can store it in a tuple to make sure that it stays the same. This can be particularly important if you're working on a large project with many different pieces of code, because it helps to ensure that your data stays consistent throughout.

In brief:

In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.

You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

Construction of tuples

We use () for tuples

In [ ]:
my_tuple=(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
type(my_tuple)

tuple

We can also mix the object types or the data types in the tuple like integer, strings,float and boolean

In [ ]:
my_tuple=("How are you", 2, 4.5, True)
print(my_tuple)

('How are you', 2, 4.5, True)

We can create a tuple with a single element

In [ ]:
hello=(1,)
print(hello)

(1,)

In [ ]:
type(hello)

tuple

We can't change tuple once its provided, that is, the tuple is immutable

Dictionaries

In Python, dictionaries are an incredibly powerful tool for working with data. They allow you to store key-value pairs, which can be used to represent complex data structures in a simple and efficient way. 🔑📊

One of the key benefits of dictionaries is that they make it easy to look up values based on a key. This can be particularly useful when you're working with large sets of data and need to find specific pieces of information quickly. For example, imagine you're working on a project that involves storing information about a large number of customers. You could use a dictionary to store each customer's information as a set of key-value pairs, with the customer ID as the key and their information as the value. Then, when you need to look up information about a particular customer, you can simply use their ID as the key and quickly retrieve their information from the dictionary.

A dictionary object is constructed using curly braces {key1:value1,key2:value2,key3:value3}

In [ ]:
my_dict={'Name':'Sammy','Place':'Kolkata','Passion':'Bike riding',1:['Good boy','data science learner']}
my_dict['Name']
my_dict['Place']
my_dict[1]

['Good boy', 'data science learner']

In [ ]:
type(my_dict)

dict

Immutability in dictionaries

In Python, dictionaries are mutable, which means that you can modify their contents after they've been created. This makes them a very flexible and powerful data structure for working with complex data. 🔧

When you modify a dictionary, you can add, remove, or update key-value pairs as needed. For example, you might add a new key-value pair to represent a new piece of data, or update an existing key-value pair to reflect a change in the data. You can also remove key-value pairs that are no longer needed.

In [ ]:
customer={
    'name':'Sammy',
    'age':56,
    'email':'sammy@example.com'
}
#modifying the email
customer['email']='sammy123@example.com'
#modify the age
customer['age']='45'
print(customer)

{'name': 'Sammy', 'age': '45', 'email': 'sammy123@example.com'}

Some basic dictionary methods

keys() method returns the list of keys in the dictionary object

In [ ]:
my_dict.keys()

dict_keys(['Name', 'Place', 'Passion', 1])

In [ ]:
list(my_dict.keys())

['Name', 'Place', 'Passion', 1]

values() method returns the value of the keys in the dictionary

In [ ]:
my_dict.values()

dict_values(['Sammy', 'Kolkata', 'Bike riding', ['Good boy', 'data science learner']])

In [ ]:
list(my_dict.values())

['Sammy', 'Kolkata', 'Bike riding', ['Good boy', 'data science learner']]

Introduction to sets

In Python, sets are a powerful tool for working with collections of unique elements. They allow you to perform operations like union, intersection, and difference on sets of data, making it easy to compare and manipulate large data sets. 🛠️🔍

One of the key benefits of sets is that they ensure that each element is unique, so you don't have to worry about duplicates. This can be particularly useful when you're working with data that has a lot of overlap or redundancy. For example, imagine you're analyzing a large dataset of customer orders, and you want to identify all of the unique products that have been ordered. By storing the product names in a set, you can ensure that each product is only counted once, even if it appears in multiple orders. 🛍️

Another scenario where sets can be useful is when you're working with text data. Sets allow you to easily identify the unique words or characters in a piece of text, which can be helpful for tasks like sentiment analysis or text classification. By converting the text to a set of unique elements, you can focus on the most important and distinctive parts of the data. 📚

To summarize stuffs:

Sets are an unordered collection of unique elements. We can construct them by using the set() function.

Sets cannot have duplicates.

Sets are mutable just like lists.

You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [ ]:
#creation of an empty set.
my_emptyset=set()

In [ ]:
type(my_emptyset)

set

In [ ]:
#creating a non-empty set
non_emptyset={1,4,5,'abc'}
print(non_emptyset)

{1, 4, 'abc', 5}

There are few things you need to keep in mind while working with sets

An empty set cannot be represented as {}, which is reserved for an empty dictionary which you learnt about a while back.

In [ ]:
size={}
type(size)

dict

We can cast a list with multiple repeat elements to a set to get the unique elements.

We cannot create a set whose any of the elements is mutable

We can create sets with immutable items such as tuple.

In [ ]:
my_set={1,2,(2,3)}

In [ ]:
my_set

{(2, 3), 1, 2}

Additional information

find() method returns the index of the first occurrence of a string present in a given string. Similar to the count() method, the find() method takes a string as an argument

In [ ]:
a={1,3,5,7,9}
b={1,2,5,7,10}
Intersection= a.intersection(b)
print(Intersection)

TypeError: ignored

In [ ]:
A={'book','paper','draw','Dance'}
B={'hike','tour','dance','work'}
Intersection=A.intersection(B)
print(Intersection)

set()

In [ ]:
s = input()
lower_case=s.lower()
lower_case==lower_case[::-1]
print(lower_case==lower_case[::-1])

Dad
True

In [ ]:
def product_numbers(n): #f(4)=4*3*2*1, f(3)*4, 4*3*f(2), 4*3*2*f(1)
    if n==1:
      return 1

    return n*product_numbers(n-1)

In [ ]:
def power(a,b):
  if a==0:
    return 0
  elif b==0:
    return 1
  else:
    return a**b
a=9
b=9
result=power(a,b)
print(result)

387420489

In [ ]:
# Here we have a code for adding a number until we have a single digit number
r=90887
l=list(str(r)) #here we have to convert the given integer to a string and then to list. Because we can't add a integer's individual number.
while len(l)!=1:
  s=0
  for i in l:
    s=s+int(i)
    r=s
  print(r)
  l=list(str(r))

32
5

In [ ]:
# code to ensure global and local variable
Sam=10
def global_local():
  """
  Docstring
  """
  #Accessing the global variable
  global Sam
  #Providing the function of the code
  Sam += 10 #we can't use return statement for global variable
def local_global():
  """
  Docstring
  """
  #assigning the value
  Sammy=17
  Sammy -= 7
  print("Local variable is",Sammy)
global_local()
print("Global variable is",Sam)

Global variable is 20

In [ ]:
# write a program to find the calories burnt in a minute
def calculate_calories_burnt(duration, activity):
  calories=0
  while duration>0:
    if activity.lower()=="running":
      calories += 10
    elif activity.lower()=="swimming":
      calories += 8
    elif activity.lower()=="cycling":
      calories += 9
  return f"You have burnt{calories} in {duration}"
calculate_calories_burnt(duration=20,activity="swimming")